# Processing the acquired Raw Data into a consumable format

## Overview

### This notebook contains the step by step code and related documentation to process the raw page views and page count data acquired from the wikipedia REST API endpoints into a consumble format.

For the data processing process, the input is the raw wikipedia traffic numbers for the specified period. We could either start by running the englishwikipediatrafficanalysis_dataprocessing ipython notebook to get the raw files or could skip that process and grab the readily available offline raw data files in this repository.

First we import all the required libraries/modules.

In [1]:
#json library has some good helper methods for working with JSON objects. 
#Since our raw data is in json format, we need the ability to deserialize json data into python objects for consumption.
import json
#Periodically we would need a way to check the intermediate results. We do that by printing the values of the variables.
#This is done using the display module from the IPython.core.display library.
from IPython.core.display import display
#pandas is another super useful python library that has many valueable data storage and manipulation functions. 
import pandas as pd

And then create and initialize some variables that can make the code easy to maintain, as well as set global level options to make the output more readable.

In [2]:
#Directory where the raw files exist
raw_data_dir = './data/raw/'
#Directory where the processed file will be saved to (at the end of this notebook if all steps are successful)
processed_data_dir = './data/processed/'

#Variables to hold the file names of the raw data files
pagecounts_desktop_site = 'pagecounts_desktop-site_200807-201607.json'
pagecounts_mobile_site = 'pagecounts_mobile-site_201410-201607.json'
pageviews_desktop = 'pageviews_desktop_201507-201709.json'
pageviews_mobile_app = 'pageviews_mobile-app_201507-201709.json'
pageviews_mobile_web = 'pageviews_mobile-web_201507-201709.json'

#Variables to hold the file names to contain the processed data at the end of successful execution of the steps in this notebook.
processedfilename = 'en-wikipedia_traffic_200801-201709.csv'

#preventing scientific notation of numbers in the results of executions in this notebook, for readability
pd.set_option('precision',2)

Following another good coding standard practice to make the code modular by creating helper functions for blocks of code that has a tendency to repeat two or more times. Again, this makes the code more maintainable by having only one place to change if there are any modifications needed. 

In this specific case, before we can start applying any processing or transformation, we need to read in the content from each of the five raw data files and into appropriate format. The following steps are repeated for each of these raw data files:

1. Open the file and read content line by line
2. For each line (the content is in a JSON object format), parse it into a dictionary with key and value format. The dictionary will have the following fields:
    * Project: the name of the project, en.wikipedia in this case for all data items
    * access-site: desktop, mobile-app or mobile-data for pageviews; and desktop-site or mobile-site for pagecounts
    * agent: (only relevant to pageviews) the value is user for all data items since we expect the data to be filtered during the acquisition process
    * granularity: monthly, set at acquisition step
    * timestamp: the timestamp for which the measurement is scoped to. The format is YYYYMMDD00 (NOTE: two trailing zeros)
    * count/views: measured value of traffic, field named count for pagecounts and views for pageviews
    
3. We only need the Year, Month and view count. The year and month are extracted from the timestamp field and the view count is the count or views field. So we keep only those two fields and discard the rest. We also parse the Year and Month from the timestamp field. 

4. At the end of this processing step, we have the Year, Month and the views count as a row which is each processed observation point.

In [3]:
#function definition for the file read and extraction steps
def extractviewsinformation(datareference):
    extracteddata = []
    
    #read the file line by line
    for line in open(raw_data_dir+datareference, 'r').readlines():
        #since a valid json requires the keys and values to be enclosed in " instead of ', we do the conversion
        line= line.replace("'","\"")
        #read the json formatted line into a dictionary format
        rawdataline=json.loads(line)

        #for each item in the dictionary, extract the necessary fields and discard the ones that are not needed
        for i in range(0,len(rawdataline)):
            datarow=rawdataline[i]
            #extract timestamp field
            timestamp = datarow['timestamp']
            #parse the year and month from the timestamp
            year = int(timestamp[0:4])
            month = int(timestamp[4:6])
            #extract the views or count (as appropriate for pageviews and pagecounts respectively)
            if datareference[4:9] == 'views':
                num_views = datarow['views']
            else:
                num_views = datarow['count']

            #make an observation with the year, month and the number of views
            listitem = [year,month,num_views]
            #add the observation to the list of observations
            extracteddata.append(listitem)
        
    #return the list of observations in a pandas dataframe format.
    return pd.DataFrame(extracteddata,dtype=object, columns=['year','month','num_views'])

Now that we have the function stub for the load and pre-processing extraction operation, we can apply this process for each of the five raw data files

In [4]:
#load number of views (page count) for desktop
pagecounts_desktop_site_data = extractviewsinformation(pagecounts_desktop_site)

#load number of views (page count) for mobile
pagecounts_mobile_site_data = extractviewsinformation(pagecounts_mobile_site)

#load number of views (page views) for desktop
pageviews_desktop_data = extractviewsinformation(pageviews_desktop)

#load number of views (page views) for mobile app
pageviews_mobile_app_data = extractviewsinformation(pageviews_mobile_app)

#load number of views (page views) for mobile web
pageviews_mobile_web_data = extractviewsinformation(pageviews_mobile_web)

In [5]:
#optionally display the intermediate results. 
# you can comment them out if you are running the code along and do not desire to see these intermediate results
display(pagecounts_desktop_site_data)
display(pagecounts_mobile_site_data)
display(pageviews_desktop_data)
display(pageviews_mobile_app_data)
display(pageviews_mobile_web_data)

    year month    num_views
0   2008     7   5306302874
1   2008     8   5140155519
2   2008     9   5479533823
3   2008    10   5679440782
4   2008    11   5415832071
5   2008    12   5211708451
6   2009     1   5802681551
7   2009     2   5547320860
8   2009     3   6295159057
9   2009     4   5988817321
10  2009     5   6267516733
11  2009     6   5818924182
12  2009     7   5801646978
13  2009     8   5790850384
14  2009     9   4057515768
15  2009    10   6016107147
16  2009    11   5768486910
17  2009    12   5426505977
18  2010     1   5703465285
19  2010     2   5762451418
20  2010     3   6661347946
21  2010     4   6618552152
22  2010     5   6410578775
23  2010     6   4898035014
24  2010     7   5296177638
25  2010     8   7381346660
26  2010     9   7546488744
27  2010    10  10172844562
28  2010    11   6948678354
29  2010    12   7001952100
..   ...   ...          ...
67  2014     2   6718243109
68  2014     3   7464128273
69  2014     4   7216245221
70  2014     5   7543277646
71  2014     6   6577352648
72  2014     7   6761059566
73  2014     8   6687313714
74  2014     9   7564600999
75  2014    10   6577533128
76  2014    11   6153537606
77  2014    12   5830332248
78  2015     1   6103767055
79  2015     2   5602710439
80  2015     3   6346602713
81  2015     4   6198945657
82  2015     5   6323801814
83  2015     6   5165413640
84  2015     7   5229226022
85  2015     8   5035534449
86  2015     9   5409631355
87  2015    10   5535704471
88  2015    11   5296956116
89  2015    12   5264446173
90  2016     1   5569632502
91  2016     2   5347709361
92  2016     3   5407676056
93  2016     4   5572235399
94  2016     5   5330532334
95  2016     6   4975092447
96  2016     7   5363966439

[97 rows x 3 columns]

    year month   num_views
0   2014    10  3091546685
1   2014    11  3027489668
2   2014    12  3278950021
3   2015     1  3485302091
4   2015     2  3091534479
5   2015     3  3330832588
6   2015     4  3222089917
7   2015     5  3334069483
8   2015     6  3038162463
9   2015     7  3254472695
10  2015     8  3268487582
11  2015     9  3172429827
12  2015    10  3246082505
13  2015    11  3218234512
14  2015    12  3387411863
15  2016     1  3739628742
16  2016     2  3333231392
17  2016     3  3419853636
18  2016     4  3301385124
19  2016     5  3418435805
20  2016     6  3372618063
21  2016     7  3500661121

    year month   num_views
0   2015     7  4376666686
1   2015     8  4332482183
2   2015     9  4485491704
3   2015    10  4477532755
4   2015    11  4287720220
5   2015    12  4100012037
6   2016     1  4436179457
7   2016     2  4250997185
8   2016     3  4286590426
9   2016     4  4149383857
10  2016     5  4191778094
11  2016     6  3888839711
12  2016     7  4337865827
13  2016     8  4695046216
14  2016     9  4135006498
15  2016    10  4361737690
16  2016    11  4392068236
17  2016    12  4209608578
18  2017     1  4521980398
19  2017     2  4026702163
20  2017     3  4319971902
21  2017     4  3951456992
22  2017     5  4187870579
23  2017     6  3604550997
24  2017     7  3565444544
25  2017     8  3575572313
26  2017     9  3547447892

    year month  num_views
0   2015     7  109624146
1   2015     8  109669149
2   2015     9   96221684
3   2015    10   94523777
4   2015    11   94353925
5   2015    12   99438956
6   2016     1  106432767
7   2016     2   92414130
8   2016     3   97899074
9   2016     4   81719003
10  2016     5   98738513
11  2016     6   96908466
12  2016     7  101398640
13  2016     8   97172509
14  2016     9   83037939
15  2016    10   67174886
16  2016    11   83623769
17  2016    12  128976033
18  2017     1  211813191
19  2017     2  189059134
20  2017     3  184098693
21  2017     4  115051969
22  2017     5  118805669
23  2017     6  115285847
24  2017     7  124118219
25  2017     8  119171796
26  2017     9  114615188

    year month   num_views
0   2015     7  3179131148
1   2015     8  3192663889
2   2015     9  3073981649
3   2015    10  3173975355
4   2015    11  3142247145
5   2015    12  3276836351
6   2016     1  3611404079
7   2016     2  3242448142
8   2016     3  3288785117
9   2016     4  3177044999
10  2016     5  3296294723
11  2016     6  3257882479
12  2016     7  3395175122
13  2016     8  3418646794
14  2016     9  3310247842
15  2016    10  3442109005
16  2016    11  3507421156
17  2016    12  3647567822
18  2017     1  4020148351
19  2017     2  3522702265
20  2017     3  3719395296
21  2017     4  3524571150
22  2017     5  3567882051
23  2017     6  3404097346
24  2017     7  3600941034
25  2017     8  3502234506
26  2017     9  3416989181

Note that none of the intermediate data lists that we have contain the observations for all the year-month combimations from July 2008 to September 2017. So we need a data structure that has a placeholder template for all these observations. The idea is to then fill in the observations from each of the intermediate views that we obtained in the previous step by doing a merge and filling with zeros for time periods when we do not have a measurement for the specific observation. We begin by creating this data structure and prefill the required year-month ranges.

In [6]:
#list of years for which we need the observations
years = [2008,2009,2010,2011,2012,2013,2014,2015,2016,2017]
#list of months numbers for each year for which we need the observations
months = [1,2,3,4,5,6,7,8,9,10,11,12]

#create the data structure that holds this year month combination
years_months = [[x,y] for x in years for y in months]

#the below line is only required if we want to limit the results to July 2008 - September 2017 window. 
#If you are following along running the code and desire to get the data starting January 2008, you can do the following:
#comment out the next line below and uncomment the following line
#this will set the appropriate year-month range
years_months = years_months[6:117]
#years_months = years_months[0:117]

#create a pandas dataframe for this data object
years_months = pd.DataFrame(years_months,dtype=object, columns=['year','month'])

#display this intermediate result.
display(years_months)

     year month
0    2008     7
1    2008     8
2    2008     9
3    2008    10
4    2008    11
5    2008    12
6    2009     1
7    2009     2
8    2009     3
9    2009     4
10   2009     5
11   2009     6
12   2009     7
13   2009     8
14   2009     9
15   2009    10
16   2009    11
17   2009    12
18   2010     1
19   2010     2
20   2010     3
21   2010     4
22   2010     5
23   2010     6
24   2010     7
25   2010     8
26   2010     9
27   2010    10
28   2010    11
29   2010    12
..    ...   ...
81   2015     4
82   2015     5
83   2015     6
84   2015     7
85   2015     8
86   2015     9
87   2015    10
88   2015    11
89   2015    12
90   2016     1
91   2016     2
92   2016     3
93   2016     4
94   2016     5
95   2016     6
96   2016     7
97   2016     8
98   2016     9
99   2016    10
100  2016    11
101  2016    12
102  2017     1
103  2017     2
104  2017     3
105  2017     4
106  2017     5
107  2017     6
108  2017     7
109  2017     8
110  2017     9

[111 rows x 2 columns]

Now we have the placeholder template with the required year month combinations filled in, and from the previous step we have all the observation points for the various access sites. We begin merging all of this into a single dataset format. The resultant dataset will contain the following fields:
1. Year: Year of the measurement point
2. Month: month of the measurement point
3. pagecount_all_views: pagecount for both desktop and mobile views
4. pagecount_desktop_views: pagecount for only desktop views
5. pagecount_mobile_views: pagecount for only mobile views
6. pageview_all_views: pageview for both desktop and mobile views
7. pageview_desktop_views: pageview for only desktop views
8. pageview_mobile_views: pageview for only mobile views

In [7]:
#fill in the number of views (pagecount) for desktop  
mergefirst = years_months.merge(pagecounts_desktop_site_data,how='left',on=['year','month'])

#fill in the number of views (pagecount) for mobile
mergesecond = pd.merge(mergefirst,pagecounts_mobile_site_data,how='left',on=['year','month'])

#fill in the number of views (pageview) for mobile web
mergethird = pd.merge(mergesecond,pageviews_mobile_web_data,how='left',on=['year','month'])

#fill in the number of views (pageview) for mobile app
mergefourth = pd.merge(mergethird,pageviews_mobile_app_data,how='left',on=['year','month'])

#fill in the number of views (pageview) for desktop
mergefifth = pd.merge(mergefourth,pageviews_desktop_data,how='left',on=['year','month'])

#for observation points when there was no data, replace NA with zeros.
mergefifth.fillna(0,inplace=True)

#Rename the columns as appropriate
mergefifth.columns = ['year','month','pagecount_desktop_views','pagecount_mobile_views','pageview_mobile_web_views', 'pageview_mobile_app_views', 'pageview_desktop_views']

#For pagecount, create a new field which contains the derived value of all views which includes both desktop and mobile 
mergefifth['pagecount_all_views'] = mergefifth['pagecount_desktop_views'] + mergefifth['pagecount_mobile_views']

#For pageview, create a new field which contains the derived value of all mobile views which combines both web and app 
mergefifth['pageview_mobile_views'] = mergefifth['pageview_mobile_web_views'] + mergefifth['pageview_mobile_app_views']

#For pageview, create a new field which contains the derived value of all views which includes both desktop and mobile 
mergefifth['pageview_all_views'] = mergefifth['pageview_mobile_views'] + mergefifth['pageview_desktop_views']

#we do not need all fields now, retain only the required ones. create the list of the fields that we need
columnstokeep = ['year','month','pagecount_all_views','pagecount_desktop_views','pagecount_mobile_views','pageview_all_views','pageview_desktop_views','pageview_mobile_views']

#create a new view with just the required columns from the list we created in the previous step
en_wikipedia_traffic_200801_201709=mergefifth[columnstokeep]

#visualize the final processed result before saving
display(en_wikipedia_traffic_200801_201709)

,year,month,pagecount_all_views,pagecount_desktop_views,pagecount_mobile_views,pageview_all_views,pageview_desktop_views,pageview_mobile_views
0,2008,7,5306302874,5306302874,0,0,0,0
1,2008,8,5140155519,5140155519,0,0,0,0
2,2008,9,5479533823,5479533823,0,0,0,0
3,2008,10,5679440782,5679440782,0,0,0,0
4,2008,11,5415832071,5415832071,0,0,0,0
5,2008,12,5211708451,5211708451,0,0,0,0
6,2009,1,5802681551,5802681551,0,0,0,0
7,2009,2,5547320860,5547320860,0,0,0,0
8,2009,3,6295159057,6295159057,0,0,0,0
9,2009,4,5988817321,5988817321,0,0,0,0
10,2009,5,6267516733,6267516733,0,0,0,0
11,2009,6,5818924182,5818924182,0,0,0,0
12,2009,7,5801646978,5801646978,0,0,0,0
13,2009,8,5790850384,5790850384,0,0,0,0
14,2009,9,4057515768,4057515768,0,0,0,0
15,2009,10,6016107147,6016107147,0,0,0,0
16,2009,11,5768486910,5768486910,0,0,0,0
17,2009,12,5426505977,5426505977,0,0,0,0
18,2010,1,5703465285,5703465285,0,0,0,0
19,2010,2,5762451418,5762451418,0,0,0,0
20,2010,3,6661347946,6661347946,0,0,0,0
21,2010,4,6618552152,6618552152,0,0,0,0
22,2010,5,6410578775,6410578775,0,0,0,0
23,2010,6,4898035014,4898035014,0,0,0,0
24,2010,7,5296177638,5296177638,0,0,0,0
25,2010,8,7381346660,7381346660,0,0,0,0
26,2010,9,7546488744,7546488744,0,0,0,0
27,2010,10,10172844562,10172844562,0,0,0,0
28,2010,11,6948678354,6948678354,0,0,0,0
29,2010,12,7001952100,7001952100,0,0,0,0
...,...,...,...,...,...,...,...,...
81,2015,4,9421035574,6198945657,3222089917,0,0,0
82,2015,5,9657871297,6323801814,3334069483,0,0,0
83,2015,6,8203576103,5165413640,3038162463,0,0,0
84,2015,7,8483698717,5229226022,3254472695,7665421980,4376666686,3288755294
85,2015,8,8304022031,5035534449,3268487582,7634815221,4332482183,3302333038
86,2015,9,8582061182,5409631355,3172429827,7655695037,4485491704,3170203333
87,2015,10,8781786976,5535704471,3246082505,7746031887,4477532755,3268499132
88,2015,11,8515190628,5296956116,3218234512,7524321290,4287720220,3236601070
89,2015,12,8651858036,5264446173,3387411863,7476287344,4100012037,3376275307
90,2016,1,9309261244,5569632502,3739628742,8154016303,4436179457,3717836846
91,2016,2,8680940753,5347709361,3333231392,7585859457,4250997185,3334862272
92,2016,3,8827529692,5407676056,3419853636,7673274617,4286590426,3386684191
93,2016,4,8873620523,5572235399,3301385124,7408147859,4149383857,3258764002
94,2016,5,8748968139,5330532334,3418435805,7586811330,4191778094,3395033236
95,2016,6,8347710510,4975092447,3372618063,7243630656,3888839711,3354790945
96,2016,7,8864627560,5363966439,3500661121,7834439589,4337865827,3496573762
97,2016,8,0,0,0,8210865519,4695046216,3515819303
98,2016,9,0,0,0,7528292279,4135006498,3393285781
99,2016,10,0,0,0,7871021581,4361737690,3509283891
100,2016,11,0,0,0,7983113161,4392068236,3591044925
101,2016,12,0,0,0,7986152433,4209608578,3776543855
102,2017,1,0,0,0,8753941940,4521980398,4231961542
103,2017,2,0,0,0,7738463562,4026702163,3711761399
104,2017,3,0,0,0,8223465891,4319971902,3903493989
105,2017,4,0,0,0,7591080111,3951456992,3639623119
106,2017,5,0,0,0,7874558299,4187870579,3686687720
107,2017,6,0,0,0,7123934190,3604550997,3519383193
108,2017,7,0,0,0,7290503797,3565444544,3725059253
109,2017,8,0,0,0,7196978615,3575572313,3621406302
110,2017,9,0,0,0,7079052261,3547447892,3531604369

Now that we have the processed dataset, we are ready to now save it to a file.

In [8]:
#save the processed result to a file and do not persist the row names
en_wikipedia_traffic_200801_201709.to_csv(processed_data_dir+processedfilename,index=False)